@page
@model BookReservation.Pages.CreateBookCategoryModel
@{
}

<form method="post">
    <div class="row col-6 form-group">
        <label for="name">Category name</label>
        <input class="form-control" name="name" value="" type="text" />
    </div>
    <div class="col-md-4">
        <button class="btn btn-success" type="submit">Submit !</button>
    </div>
</form>
